# Arquivos grandes (Já gerenciados pelo LFS ou que devem ser ignorados)
*.rar
*.zip
*.7z
*.iso

# Pasta de áudios (Opcional: se quiser ignorar arquivos específicos)
# sons/fire.mp3

# Arquivos de Sistema e IDE
Thumbs.db
.DS_Store
.vscode/
.idea/

# Logs e temporários
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*